<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stream Video</title>
</head>
<body>
  <h1>Testing</h1>
  <video id="localStream" controls width="300">

  </video>
  <br><br>
  <textarea row="3" cols="100" id="txtMySignal"></textarea>
  <br><br>
  <input type="text" name="" value="" placeholder="Your friend" id="txtFriendSignal">
  <br><button id="btnConnect">connect</button>
</body>
<script src="bundle.js"></script>
</html>
